<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Landing Centre</title>

    <link rel="stylesheet" href="/css/Landingcentre.css">
</head>

<body>

    <div class="centre-section">

        <div class="tag-name">
            ● Best PG Booking Platform
        </div>

        <div class="centre-title">
            <h1>
                <span class="green">gopg</span>booking.com
            </h1>
        </div>

        <div class="centre-description">
            <p>
                Find your perfect PG accommodation with gopgbooking.com.
                We offer a wide range of options, from budget-friendly
                to luxurious, all in one place. Book your ideal PG today
                and experience hassle-free living!
            </p>
        </div>

        <div class="centre-btn">
            <button class="explorepg-btn" onclick="window.location.href='/card'">
                Explore PGs
            </button>
        </div>

    </div>

</body>

</html>